<!DOCTYPE html>
<html>
    <head>
        <style>
            body { padding-top: 200px; }
        </style>
        <meta charset="UTF-8" />
        <title>{% block title %}DEPI ITM{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
            <link href="{{ asset('bundles/app/css/carousel.css') }}" type="text/css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('tecNM.ico') }}" />
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/show-hide.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div>
        {% block header %} {{ include( ':includes:header.html.twig')}}{% endblock %}
        </div>
        <br><br>
        <div>
        <div class="col-md-1">
        {% block left %}{% endblock%}
        </div>
        <div class="col-md-8">
        {% block body %} {% endblock %}           
        </div>
        <div class="col-md-2">
        {% block right %}{{ include( ':includes:right.html.twig')}}{% endblock %}
        </div>
        </div>
    </body>
</html>
