{% extends '::backend.html.twig' %}

{% block body -%}
    <h1>Lista de Docentes</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Email</th>
                <th>Titulo</th>
                <th>Area de Interes</th>
                <th>Enlace pagina</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('docente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.apellidoP }}</td>
                <td>{{ entity.apellidoM }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.areaInteres }}</td>
                <td>{{ entity.enlacePagina }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('docente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('docente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
